<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="icon" type="image/x-icon" href="../static/img/logo.png">

        <title>Classmates</title>
    </head>

    <body>
        <h1 class="nav-title">Classmates</h1>
        <div class="links-box">
            <a class="link btn"  href="{{url_for('home')}}">Add</a>
        </div>
        <div class="nav-list">
            <h2 class="heading">Select your section</h2>
            {% for section in data %}
            <a class="navigation" style="display: inline-block; text-align: center; margin: 20px 10px"  href="#{{section}}">{{section}}</a>
            {% endfor %}
            <a href="#total" class="navigation">Total</a>
        </div>
        <div class="section">
            {% for section in data %}
            <h1 id="{{section}}" class="section-name">Section-{{section}} ({{len(data[section])}})</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Register N.O</th>
                </tr>
                {%for details in data[section]%}
                <tr>
                    <td>{{data[section][details].name}}</td>
                    <td>{{data[section][details].number}}</td>
                    <td>{{details}}</td>
                </tr>
                {%endfor%}
            </table>
            {% endfor %}
        </div>
    <div>
        <p class="total" id="total">{{total}} students out of 1991 registered </p>
    </div>
    <footer>
        <p class="footer">Made By <a class="footer-link" href="https://github.com/skabdulhaq/" target="_blank">Me.</a> Feedback <a class="footer-link" href="{{url_for('feedback')}}">Hear</a></p>
    </footer>
    </body>

</html>